body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242424;
}

main {
  max-width: 50rem;
  margin: auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
